export default {
  email: "your_linkedin_email",
  password: "your_linkedin_password",
  
  // Each keyword means new search
  keywordsList: ["sitecore", ".net", "vue", "javascript", "react"],
  
  // Job location e.g. "Worldwide", "European Union" and etc
  location: "Worldwide", 
  
  // Job posting date e.g. PastWeek: "r604800"
  date: "r604800",
  
  // Exclude jobs that have such keywords
  keywordsBlackList: ["epam", "luxsoft", "administrator", "architect", "lead"]
}